*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 900;
}

body{
    background-color: rgb(56, 108, 250);
}

.container{
    margin: 10em;
    padding: 2em;    
    text-align: center;
}

.titulo{
    padding: 1em 0;
}

.informacion{
    padding: 1em 0;
}

.informacion .niveles h3{
    padding: 1em 0;
}

.formulario{
    padding: 2em 0;
}

.formulario h3{
    padding: 1em 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    outline: none;
    border: none;
    padding: .3em;
    margin: .3em;
}

button{
    cursor: pointer;
    border: none;
    padding: .3em;
    margin: .3em;
}

@media screen and (max-width: 1024px) {
    .container{
        margin: 0em;
        padding: 2em;
    }
}
@media screen and (max-width: 768px) {
    form{
        flex-direction: column;
    }

    input{
        width: 20em;
        text-align: center;
    }

    button{
        width: 20em;
    }
}
